{% extends "home/base.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}
        <!-- Breadcurb AREA -->
		<div class="breadcurb-area">
			<div class="container">
				<ul class="breadcrumb">

				</ul>
			</div>
		</div>
		<!-- Chart AREA -->
		<div class="chart-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="chart-item table-responsive ">
							<table class="col-md-12">
								<thead>
									<tr>
<!--										<th class="">Event</th>-->
										<th >Event Details</th>
										<th >Org / Trainer</th>
										<th >Fees</th>
										<th >Delete</th>
									</tr>
								</thead>
								<tbody>
									{% for item in context.cart %}
										<tr>
<!--											<td class="">-->
<!--												<a href="#"><img width="200px" height="150px" src="{{context.BASE_URL}}/{{item.event.thumbnail}}" alt="event" title="#{{item.id}}"/></a>-->
<!--											</td>-->
											<td class="th-details">
												<h2><a href="{% url 'event-details' item.event.id %}">{{item.event.title}}</a></h2>
												<p><b>Timeline</b>  : {{item.event.starting_data}} - {{item.event.ending_date}}</p>
												<p><b>Day</b>  : {{item.event.day}}</p>
												<p><b>Time Slot</b> : {{item.event.session_start_time}} -  {{item.event.session_end_time}}</p>
												<p><b>Vanue</b>  :  {{item.event.branch_venue.name}}</p>
											</td>
											<td class="">
												<a href="{% url 'org' item.event.org.id %}">{{item.event.org.name}}</a> / <a href="#">Saif Arnab</a>
											</td>
											<td class="">
											<span style="text-decoration:line-through">{{item.event.amount}} taka</span>
											<br>
											<span>{{item.event.amount|sub:item.event.discount}} taka</span>
											</td>
											<td class=""><a href="{% url 'delete-cart' item.id %}"><i class="fa fa-trash"></i></a></td>
										</tr>
								{% endfor %}
									
								</tbody>
							</table>
						</div>
<!-- 						<div class="cart-button">
							<button type="button" class="btn">Continue Shopping</button>
							<button type="button" class="btn floatright">Update Cart</button>
						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="cart-shopping-area fix">
					<!-- 	<div class="col-md-4 col-sm-4">
							<div class="calculate-shipping chart-all">
								<h2>CALCULATE SHIPPING</h2>
								<p>Enter your destination to get a shipping estimate.</p>
								<select>
									<option>Sellect Country</option>
									<option>America</option>
									<option>Afganisthan</option>
									<option>Bangladesh</option>
									<option>Chin</option>
									<option>Japna</option>
								</select>
								<select>
									<option>State/Provinence</option>
									<option>Dhaka</option>
									<option>Borishal</option>
									<option>Gajipur</option>
									<option>Kustiya</option>
									<option>Vola</option>
									<option>Gaibandha</option>
								</select>
								<input type="text" placeholder="Zip / Post Code">
								<button type="button" class="btn">Get A Quote</button>
							</div>
						</div> -->
					<!-- 	<div class="col-md-4 col-sm-4">
							<div class="chart-all">
								<h2>PROMOTIONAL CODE</h2>
								<p>Enter your destination to get a shipping estimate.</p>
								<input type="text" placeholder="Zip / Post Code">
								<button type="button" class="btn">Get A Quote</button>
							</div>
						</div> -->
						<div class="col-md-4 col-sm-6">
							<div class="shopping-summary chart-all">
								<div class="shopping-cost-area">
									<h2>WISH LIST SUMMARY</h2>
									<div class="shopping-cost">
										<div class="shopping-cost-left">
											<p>Sub Total </p>
											<p>Discount </p>
											<p>GRAND TOTAL </p>
										</div>
										<div class="shopping-cost-right">
											<p>{% firstof context.total_amount.event__amount__sum '0.0' %} taka</p>
											<p>{% firstof context.total_discount.event__discount__sum '0.0' %} taka</p>
											<p>{% firstof context.total_amount.event__amount__sum|sub:context.total_discount.event__discount__sum '0.0' %} taka</p>
										</div>
									</div>
									<button disabled type="button" class="btn">Proceed to Payment</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
 {% endblock content %}
