{% extends "home/base.html" %}
{% load static %}
{% load mathfilters %}

	{% block content %}
        <!-- Slider AREA -->
		<div class="slider-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">	
						<div class="slider-left">
							<h2>Featured Courses</h2>
							{% include "home/snippets/featured_events.html" %}
						</div>
					</div>
					<div class="col-md-9 col-sm-9">
						<!-- Main Slider -->
						<div class="main-slider">
							<div class="slider">
								<div id="mainSlider" class="nivoSlider slider-image" style="max-height: 410px;">
									{% for item in context.slider %}
										<img src="{{context.BASE_URL}}/{{item.img}}" alt="main slider" title="#{{item.id}}"/>
									{% endfor %}
								</div>
								{% for item in context.slider %}
									<div id="{{item.id}}" class="nivo-html-caption slider-caption-1">
										<div class="slider-progress"></div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- prodcut AREA -->
		<div class="product-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="product-catagori-area">
							<div class="product-categeries">
								<h2>Categeries</h2>
								<div class="panel-group" id="accrodian">
									{% for cat in context.category %}
									<div class="panel panel-default">
										<div class="panel-heading">
											<h6 class="panel-title" style="font-size: 14px">
												<i class="fa fa-heart"></i> {{ cat.name }}
												<a class="collapsed" data-toggle="collapse" href="#cat{{cat.id}}" data-parent="#accrodian"></a>
											</h6>
										</div>
										<div class="panel-collapse collapse" id="cat{{cat.id}}">
											<div class="panel-body">
												{% for sub_cat in context.sub_category %}
													{% if cat.name == sub_cat.category__name %}
														<a href="{% url 'sub-category-search' sub_cat.id %}"><i class="fa fa-angle-double-right"></i> {{ sub_cat.name }} </a>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="best-seller-area">
								<h2 class="header-title">Best Selling courses</h2>
								{% for event in context.event %}
									{% if event.best_sell %}
										<div class="best-sell-product">
											<div class="best-product-img">
												<a href="{% url 'event-details' event.id%}"><img style="height: 65px; width: 65px" src="{{context.BASE_URL}}/{{event.thumbnail}}" alt="product"></a>
											</div>
											<div class="best-product-content">
												<h2><a href="{% url 'event-details' event.id%}">{{event.title}} </a></h2>
												<h3><s>{{event.amount}}</s> {{ event.amount|sub:event.discount }} taka </h3>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
<!--						 	<div class="add-kids single-add">-->
<!--								<a href="#"><img src="{% static 'home_assets/img/banner/kids-ad.jpg' %}" alt="add"></a>-->
<!--							</div>-->

<!--							<div class="add-kids single-add">-->
<!--								<a href="#"><img src="img/banner/kids-ad.jpg" alt="add"></a>-->
<!--							</div>-->

						
						</div>
					</div>
<!--					<div style="float: right;">-->
<!--					 <div class="dropdown">-->
<!--						  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Location-->
<!--						  <span class="caret"></span></button>-->
<!--						  <ul class="dropdown-menu">-->
<!--						    <li><a href="#">Badda</a></li>-->
<!--						    <li><a href="#">Dhanmondi</a></li>-->
<!--						    <li><a href="#">Mohammadpur</a></li>-->
<!--						  </ul>-->
<!--					  </div> -->
<!--					</div>-->
					<div class="col-md-9 col-sm-8">
						<div class="product-items-area">

							<div class="product-items">
								<h2 class="product-header">Most popular</h2>
								<div class="row">
									<div id="product-slider" class="owl-carousel">
										{% for event in context.event %}
											{% if event.most_popular %}
												<div class="col-md-4 pad-right-0">
													<div class="single-product">
														<div class="single-product-img">
															<a href="#">
																<img style="height:125px;" src="{{context.BASE_URL}}/{{event.thumbnail}}" alt="course img">
															</a>
															<div class="single-product-action">
																<a href="{% url 'event-details' event.id %}"><i class="fa fa-external-link"></i></a>
																{% if request.user.is_authenticated and request.user.role == 'Member' %}
																	<a onclick="add_to_cart('{{event.id}}')"><i class="fa fa-shopping-cart"></i></a>
																{% endif %}}
															</div>
														</div>
														<div class="single-product-content">
															<div class="product-content-left">
																<h2><a href="{% url 'event-details' event.id %}">{{event.title}}</a></h2>
																<p> Org: <a href="{% url 'org' event.org__id %}">{{event.org__name}} </a>,
																	Trainer:<a href="{% url 'trainer-profile' event.trainer__id %}"> {{event.trainer__name}}</a> </p>
																{% if event.discount > 0.00 %}
																	<h5 style="color: #f4e901 "> <s>{{event.amount}}</s> {{ event.amount|sub:event.discount }} taka </h5>
																{% else %}
																	<h5 style="color: #f4e901 ">{{event.amount}} taka </h5>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="product-items">
								<h2 class="product-header">Most rated</h2>
								<div class="row">
									<div id="product-slider-two" class="owl-carousel">
										{% for event in context.event %}
											{% if event.most_popular %}
												<div class="col-md-4 pad-right-0">
													<div class="single-product">
														<div class="single-product-img">
															<a href="#">
																<img style="height:125px;" src="{{context.BASE_URL}}/{{event.thumbnail}}" alt="course img">
															</a>
															<div class="single-product-action">
																<a href="{% url 'event-details' event.id %}"><i class="fa fa-external-link"></i></a>
																{% if request.user.is_authenticated and request.user.role == 'Member' %}
																	<a onclick="add_to_cart('{{event.id}}')"><i class="fa fa-shopping-cart"></i></a>
																{% endif %}}
															</div>
														</div>
														<div class="single-product-content">
															<div class="product-content-left">
																<h2><a href="{% url 'event-details' event.id %}">{{event.title}}</a></h2>
																<p> Org: <a href="{% url 'org' event.org__id %}">{{event.org__name}} </a>,  Trainer: {{event.trainer__name}} </p>
																{% if event.discount > 0.00 %}
																	<h5 style="color: #f4e901 "> <s>{{event.amount}}</s> {{ event.amount|sub:event.discount }} taka </h5>
																{% else %}
																	<h5 style="color: #f4e901 ">{{event.amount}} taka </h5>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>

							{% for cat in context.category %}
							<div class="product-items">
								<h2 class="product-header">{{cat.name}}</h2>
								<div class="row">
									<div id="product-slider-women" class="owl-carousel">
										{% for event in context.event %}
											{% if event.category__name == cat.name %}
												<div class="col-md-4 pad-right-0">
													<div class="single-product">
														<div class="single-product-img">
															<a href="#">
																<img style="height:125px;" src="{{context.BASE_URL}}/{{event.thumbnail}}" alt="course img">
															</a>
															<div class="single-product-action">
																<a href="{% url 'event-details' event.id %}"><i class="fa fa-external-link"></i></a>
																{% if request.user.is_authenticated and request.user.role == 'Member' %}
																	<a onclick="add_to_cart('{{event.id}}')"><i class="fa fa-shopping-cart"></i></a>
																{% endif %}}
															</div>
														</div>
														<div class="single-product-content">
															<div class="product-content-left">
																<h2><a href="{% url 'event-details' event.id %}">{{event.title}}</a></h2>
																<p> Org: <a href="{% url 'org' event.org__id %}">{{event.org__name}} </a>,  Trainer: {{event.trainer__name}} </p>
																{% if event.discount > 0.00 %}
																	<h5 style="color: #f4e901 "> <s>{{event.amount}}</s> {{ event.amount|sub:event.discount }} taka </h5>
																{% else %}
																	<h5 style="color: #f4e901 ">{{event.amount}} taka </h5>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div> <br>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


 {% endblock content %}
