{% extends "home/base.html" %}
{% load static %}
{% load mathfilters %}

	{% block content %}
        <!-- Slider AREA -->
		<div class="slider-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">	
						<div class="slider-left">
							<h2>Featured Courses</h2>
							{% include "home/snippets/featured_events.html" %}
						</div>
					</div>
					<div class="col-md-9 col-sm-9">
						<!-- Main Slider -->
						<div class="main-slider">
							<div class="slider">
								<div id="mainSlider" class="nivoSlider slider-image" style="max-height: 410px;">
									{% for item in context.slider %}
										<img src="/media/{{item.img}}" alt="main slider" title="#{{item.id}}"/>
									{% endfor %}
								</div>
								{% for item in context.slider %}
									<div id="{{item.id}}" class="nivo-html-caption slider-caption-1">
										<div class="slider-progress"></div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- prodcut AREA -->
		<div class="product-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="product-catagori-area">
							<div class="product-categeries">
								<h2>Categeries</h2>
								<div class="panel-group" id="accrodian">
									{% for cat in context.category %}
									<div class="panel panel-default">
										<div class="panel-heading">
											<h6 class="panel-title" style="font-size: 14px">
												<i class="fa fa-heart"></i> {{ cat.name }}
												<a class="collapsed" data-toggle="collapse" href="#cat{{cat.id}}" data-parent="#accrodian"></a>
											</h6>
										</div>
										<div class="panel-collapse collapse" id="cat{{cat.id}}">
											<div class="panel-body">
												{% for sub_cat in context.sub_category %}
													{% if cat.name == sub_cat.category__name %}
														<a href="{% url 'sub-category-search' sub_cat.id %}"><i class="fa fa-angle-double-right"></i> {{ sub_cat.name }} </a>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="best-seller-area">
								<h2 class="header-title">Best Selling courses</h2>
								{% for event in context.event %}
									{% if event.best_sell %}
										<div class="best-sell-product">
											<div class="best-product-img">
												<a href="#"><img style="height: 65px;" src="/media/{{event.thumbnail}}" alt="product"></a>
											</div>
											<div class="best-product-content">
												<h2><a href="#">{{event.title}} </a></h2>
												<h3>{{event.amount}} taka</h3>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
<!--						 	<div class="add-kids single-add">-->
<!--								<a href="#"><img src="{% static 'home_assets/img/banner/kids-ad.jpg' %}" alt="add"></a>-->
<!--							</div>-->

<!--							<div class="add-kids single-add">-->
<!--								<a href="#"><img src="img/banner/kids-ad.jpg" alt="add"></a>-->
<!--							</div>-->

						
						</div>
					</div>
<!--					<div style="float: right;">-->
<!--					 <div class="dropdown">-->
<!--						  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Location-->
<!--						  <span class="caret"></span></button>-->
<!--						  <ul class="dropdown-menu">-->
<!--						    <li><a href="#">Badda</a></li>-->
<!--						    <li><a href="#">Dhanmondi</a></li>-->
<!--						    <li><a href="#">Mohammadpur</a></li>-->
<!--						  </ul>-->
<!--					  </div> -->
<!--					</div>-->
					<div class="col-md-9 col-sm-8">
						<div class="product-items-area">
							<br>
							<h3 style="text-transform: uppercase;font-weight: bold;" class="product-header">{{context.sub_cat_name.name}}</h3>
											<hr>
							{% for event in context.sub_cat_event %}
								{% if forloop.counter|mod:4 == 0 %}
										<div class="row" >

									{% else %}
										<div>
									{% endif %}
										{% if forloop.counter|mod:5 == 0 %}
											<div class="col-md-3" style="margin-top: 30px">
										{% else %}
											<div class="col-md-3">
										{% endif %}

											<div class="single-product" style="margin-left: -15px">
												<div class="single-product-img">
													<a href="{% url 'event-details' event.id %}">
														<img style="height:125px;" src="/media/{{event.thumbnail}}" alt="course img">
													</a>
													<div class="single-product-action">
														<a href="{% url 'event-details' event.id %}"><i class="fa fa-external-link"></i></a>
														{% if request.user.is_authenticated and request.user.role == 'Member' %}
															<a onclick="add_to_cart('{{event.id}}')"><i class="fa fa-shopping-cart"></i></a>
														{% endif %}}
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-left">
														<h2><a href="{% url 'event-details' event.id %}">{{event.title}}</a></h2>
														<p> Org: <a href="{% url 'org' event.org__id %}">{{event.org__name}} </a>,  Trainer: {{event.trainer__name}} </p>
														{% if event.discount > 0.00 %}
															<h5 style="color: #f4e901 "> <s>{{event.amount}}</s> {{ event.amount|sub:event.discount }} taka </h5>
														{% else %}
															<h5 style="color: #f4e901 ">{{event.amount}} taka </h5>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
							{% endfor %}

						</div>
					</div>
					<div style="text-align:center">
						{% if context.sub_cat_event.has_other_pages %}
						  <ul class="pagination">
							{% if context.sub_cat_event.has_previous %}
							  <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in context.sub_cat_event.paginator.page_range %}
							  {% if context.sub_cat_event.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							  {% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if users.has_next %}
							  <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}
					</div>
				</div>

			</div>
		</div>
	</div>
		</div>
 {% endblock content %}
