{% extends "home/base.html" %}
{% load static %}
{% load mathfilters %}

	{% block content %}
        <!-- Breadcurb AREA -->
		<div class="breadcurb-area">
			<div class="container">
				<ul class="breadcrumb">

				</ul>
			</div>
		</div>
		<!-- Product Item AREA -->
		<div class="product-item-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">	
						<div class="slider-left">
							<h2>Featured Courses</h2>
							{% include "home/snippets/featured_events.html" %}
						</div>
<!--						<div class="add-kids single-add">-->
<!--							<a href="#"><img src="img/banner/kids-ad.jpg" alt="add"></a>-->
<!--						</div>-->
<!--						<div class="add-kids single-add">-->
<!--							<a href="#"><img src="img/banner/kids-ad.jpg" alt="add"></a>-->
<!--						</div>-->
<!--						<div class="add-kids single-add">-->
<!--							<a href="#"><img src="img/banner/kids-ad.jpg" alt="add"></a>-->
<!--						</div>-->
					</div>
					<div class="col-md-9 col-sm-8">
						<div class="row">
							<div class="col-md-5 col-sm-5">
								<div class="product-item-tab">
									<!-- Tab panes -->
									<div class="single-tab-content">
										<div class="tab-content">
											<div class="col-md-8" style="padding-bottom: 10px; padding-top: 10px; margin-left: -15px;">
												<img src="/media/{{context.profile.img}}" alt="tab-img">
											</div>
											<!-- <div role="tabpanel" class="tab-pane active" id="img-one"><img src="img/single-product/s1.jpg" alt="tab-img"></div>
											<div role="tabpanel" class="tab-pane active" id="img-one"><img src="img/single-product/s1.jpg" alt="tab-img"></div> -->
										</div>
									</div>
									<!-- Nav tabs -->
									<!-- <div class="single-tab-img">
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active"><a href="#img-one" role="tab" data-toggle="tab"><img src="img/single-product/s1.jpg" alt="tab-img"></a></li>
											<li role="presentation"><a href="#img-two" role="tab" data-toggle="tab"><img src="img/single-product/s2.jpg" alt="tab-img"></a></li>
											<li role="presentation" class="tab-last-li"><a href="#img-three" role="tab" data-toggle="tab"><img src="img/single-product/s3.jpg" alt="tab-img"></a></li>
										</ul>
									</div> -->
								</div>
							</div>
							<div class="col-md-7 col-sm-7">
								<div class="product-tab-content">
									<div class="product-tab-header">
										<h1>{{context.profile.name}}</h1>
									</div>
									<div class="product-item-code">
										<p><span style="font-weight: bold">Status: </span>Member</p>
										<p><span style="font-weight: bold">Phone: </span>{{context.profile.contact_number}}</p>
										<p><span style="font-weight: bold">Email: </span>{{context.profile.email}}</p>
										<p><span style="font-weight: bold">Address: </span>{{context.profile.address}}</p>
									</div>
									<div class="product-item-details">
										<p><span style="font-weight: bold">Date of Joining:</span>  {{context.profile.created_at}}</p>
<!--										<p><span style="font-weight: bold">Total Completed Course: </span>4</p>-->
										
									</div>

									<ul class="list-inline">
										<li><a href="{{context.profile.facebook_link}}"><i class="fa fa-facebook"></i></a></li>
										<li><a href="{{context.profile.twitter_link}}"><i class="fa fa-twitter"></i></a></li>
										<li><a href="{{context.profile.linkedin_link}}"><i class="fa fa-linkedin"></i></a></li>
										<li><button class="btn btn-link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >Edit</button></li>
									</ul>


									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel"><b>Update your profile</b></h5>
										  </div>
										  <div class="modal-body">
											<form method="post" action="{% url 'user-profile' %}" enctype="multipart/form-data">

											  <div class="form-group">
												<label for="name" class="col-form-label">Name:</label>
												<input type="text" class="form-control" id="name" name="name" value="{% firstof context.profile.name '' %}">
											  </div>

												<div class="form-group">
													<label for="phone" class="col-form-label">Phone:</label>
													<input type="text" class="form-control" id="phone" name="phone" value="{% firstof context.profile.contact_number '' %}">
												</div>

												<div class="form-group">
													<label for="address" class="col-form-label">Address:</label>
													<input type="text" class="form-control" id="address" name="address" value="{% firstof context.profile.address '' %}">
												</div>

												<div class="form-group">
													<label for="img" class="col-form-label">Photo:</label> <small style="color:crimson">Ignore if you want to keep current photo</small>
													<input type="file" class="form-control" id="img" name="img">
												</div>


												<div class="form-group">
													<label for="facebook" class="col-form-label">Facebook:</label>
													<input type="text" class="form-control" id="facebook" name="facebook" value="{% firstof context.profile.facebook_link '' %}">
												</div>

												<div class="form-group">
													<label for="twitter" class="col-form-label">Twitter:</label>
													<input type="text" class="form-control" id="twitter" name="twitter" value="{% firstof context.profile.twitter_link '' %}">
												</div>

												<div class="form-group">
													<label for="linkedin" class="col-form-label">Linkedin:</label>
													<input type="text" class="form-control" id="linkedin" name="linkedin" value="{% firstof context.profile.linkedin_link '' %}">
												</div>

												<div class="form-group">
													<label for="education" class="col-form-label">Education:</label>
													<textarea id="education" name="education">{{context.profile.education}}</textarea>
												</div>

												<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Submit</button>
											  </div>


											</form>
										  </div>

										</div>
									  </div>
									</div>
								<!-- 	<div class="available-option">
										<div class="wishlist-icon">
											<div class="single-wishlist">
												<a href="#"><i class="fa fa-heart"></i></a>
												<p>wishlist</p>
											</div>
											
											<div>	
											</div>
										</div>
									</div>  -->

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="description-tab">
								<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Education</a></li>
										<li role="presentation"><a href="#information" role="tab" data-toggle="tab">Enrolled Events</a></li>
<!--										<li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">Reviews (3)</a></li>-->
									</ul>
									  <!-- Tab panes -->
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="description">
											{{context.profile.education | safe}}
										</div>
										<div role="tabpanel" class="tab-pane" id="information">
											<table class="table">
											  <thead>
											    <tr>
											      <th scope="col">SL</th>
											      <th scope="col">Event Name</th>
											      <th scope="col">ORG Name</th>
											      <th scope="col">Confirmation Date</th>
											      <th scope="col">Status</th>
											    </tr>
											  </thead>
											  <tbody>
											  {% for item in context.confirm %}
											    <tr>
											      <td>{{ forloop.counter }}</td>
											      <td><a href="#">{{ item.event.title }}</a></td>
											      <td><a href="#">{{ item.event.org.name }}</a></td>
											      <td>{{ item.updated_at }}</td>
											      <td>{{ item.status }}</td>
											    </tr>
											  {% endfor %}

											  </tbody>
											</table>
										</div>
<!--										<div role="tabpanel" class="tab-pane" id="reviews">-->
<!--											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>-->

<!--											<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>-->
<!--										</div>-->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="single-product-slider similar-product">
									<div class="product-items">
										<h2 class="product-header">You May Like</h2>
										<div class="row">
											<div id="singleproduct-slider" class="owl-carousel">
												{% for event in context.event %}
													<div class="col-md-4">
														<div class="single-product">
															<div class="single-product-img">
																<a href="{% url 'event-details' event.id %}">
																	<img style="height:125px;" src="/media/{{event.thumbnail}}" alt="course img">
																</a>
																<div class="single-product-action">
																	<a href="{% url 'event-details' event.id %}"><i class="fa fa-external-link"></i></a>
																	{% if request.user.is_authenticated %}
																		<a onclick="add_to_cart('{{event.id}}')"><i class="fa fa-shopping-cart"></i></a>
																	{% endif %}}
																</div>
															</div>
															<div class="single-product-content">
																<div class="product-content-left">
																   <h2><a href="{% url 'event-details' event.id %}">{{event.title}}</a></h2>
																	<p> Org: <a href="{% url 'org' event.org__id %}">{{event.org__name}} </a>,  Trainer: {{event.trainer__name}} </p>
																	{% if event.discount > 0.00 %}
																	<h5 style="color: #f4e901 "> <s>{{event.amount}}</s> {{ event.amount|sub:event.discount }} taka </h5>
																	{% else %}
																		<h5 style="color: #f4e901 ">{{event.amount}} taka </h5>
																	{% endif %}
																</div>
															</div>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
 {% endblock content %}

