{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>SYS DIARY</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!--Chartist Chart CSS -->
        <link rel="stylesheet" href="{% static 'plugins/chartist/css/chartist.min.css' %}">

         <!--Jquery steps CSS -->
        <link rel="stylesheet" href="{% static 'plugins/jquery-steps/jquery.steps.css' %}">

        <!-- Sweet Alert -->
        <link href="{% static 'plugins/sweet-alert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">


        <!-- DataTables -->
        <link href="{% static 'plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="{% static 'plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static 'assets/css/metismenu.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" >

        <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
<!--                <div class="topbar-left">-->
<!--                    <a href="index.html" class="logo">-->
<!--                        <h4>Sys Diaries Ltd</h4>-->
<!--                        <span>-->
<!--                                <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="18">-->
<!--                            <h4>Sys Diaries Ltd</h4>-->
<!--                        </span>-->
<!--                        <i>-->
<!--                            <h4>Sys Diaries Ltd</h4>-->
<!--                                <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">-->
<!--                        </i>-->
<!--                    </a>-->
<!--                </div>-->

                <nav class="navbar-custom">
                    <ul class="navbar-right list-inline float-right mb-0">
                        <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>

                        <!-- language-->
                        <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="{% static 'assets/images/flags/us_flag.jpg' %}" class="mr-2" height="12" alt=""/> English <span class="mdi mdi-chevron-down"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right language-switch">
                                <a class="dropdown-item" href="#"><img src="assets/images/flags/germany_flag.jpg" alt="" height="16" /><span> German </span></a>
                                <a class="dropdown-item" href="#"><img src="assets/images/flags/italy_flag.jpg" alt="" height="16" /><span> Italian </span></a>
                                <a class="dropdown-item" href="#"><img src="assets/images/flags/french_flag.jpg" alt="" height="16" /><span> French </span></a>
                                <a class="dropdown-item" href="#"><img src="assets/images/flags/spain_flag.jpg" alt="" height="16" /><span> Spanish </span></a>
                                <a class="dropdown-item" href="#"><img src="assets/images/flags/russia_flag.jpg" alt="" height="16" /><span> Russian </span></a>
                            </div>
                        </li>

                        <!-- full screen -->
                        <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                            <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                <i class="mdi mdi-fullscreen noti-icon"></i>
                            </a>
                        </li>

                        <!-- notification -->
<!--                        <li class="dropdown notification-list list-inline-item">-->
<!--                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">-->
<!--                                <i class="mdi mdi-bell-outline noti-icon"></i>-->
<!--                                <span class="badge badge-pill badge-danger noti-icon-badge">3</span>-->
<!--                            </a>-->
<!--                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">-->
<!--                                &lt;!&ndash; item&ndash;&gt;-->
<!--                                <h6 class="dropdown-item-text">-->
<!--                                        Notifications (258)-->
<!--                                    </h6>-->
<!--                                <div class="slimscroll notification-item-list">-->
<!--                                    &lt;!&ndash; item&ndash;&gt;-->
<!--                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">-->
<!--                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>-->
<!--                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>-->
<!--                                    </a>-->
<!--                                    &lt;!&ndash; item&ndash;&gt;-->
<!--                                    <a href="javascript:void(0);" class="dropdown-item notify-item">-->
<!--                                        <div class="notify-icon bg-warning"><i class="mdi mdi-message-text-outline"></i></div>-->
<!--                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>-->
<!--                                    </a>-->
<!--                                    &lt;!&ndash; item&ndash;&gt;-->
<!--                                    <a href="javascript:void(0);" class="dropdown-item notify-item">-->
<!--                                        <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>-->
<!--                                        <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>-->
<!--                                    </a>-->
<!--                                    &lt;!&ndash; item&ndash;&gt;-->
<!--                                    <a href="javascript:void(0);" class="dropdown-item notify-item">-->
<!--                                        <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>-->
<!--                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>-->
<!--                                    </a>-->
<!--                                    &lt;!&ndash; item&ndash;&gt;-->
<!--                                    <a href="javascript:void(0);" class="dropdown-item notify-item">-->
<!--                                        <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>-->
<!--                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; All&ndash;&gt;-->
<!--                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">-->
<!--                                        View all <i class="fi-arrow-right"></i>-->
<!--                                    </a>-->
<!--                            </div>-->
<!--                        </li>-->
                        <li class="dropdown notification-list list-inline-item">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'assets/images/users/error.png' %}" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    {% if request.user.role == 'Org' %}
                                        <a class="dropdown-item" href="{% url 'admin-profile' %}"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                    </ul>
                </nav>

            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Main</li>

                            <li>
                                <a class="waves-effect">
                                    <i class="ti-home"></i><span> Dashboard </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'event' %}" class="waves-effect">
                                    <i class="ti-home"></i><span> Events </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'org-event-confirm' %}" class="waves-effect">
                                    <i class="ti-home"></i><span>Events Approval </span>
                                </a>
                            </li>

                            {% if request.user.role == 'Admin' %}
                                <li>
                                    <a href="{% url 'slider' %}" class="waves-effect">
                                        <i class="ti-home"></i><span> Slider</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if request.user.role == 'Admin' %}
                                <li>
                                    <a href="{% url 'event-type' %}" class="waves-effect">
                                        <i class="ti-home"></i><span> Events Type</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if request.user.role == 'Admin' or request.user.role == 'Org'%}
                                <li>
                                    <a href="{% url 'event-branch-venue' %}" class="waves-effect">
                                        <i class="ti-home"></i><span> Events Branch/Venue</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if request.user.role == 'Admin' or request.user.role == 'Org'%}
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-view-grid"></i><span> Users <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                    <ul class="submenu">
                                        <li><a href="{% url 'org-trainer' %}">Trainer</a></li>
                                        {% if request.user.role == 'Admin' %}
                                            <li><a href="{% url 'admin-member' %}">Members</a></li>
                                            <li><a href="{% url 'admin-org' %}">Organizations</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
<!--                                <li>-->
<!--                                    <a href="{% url 'org-trainer' %}" class="waves-effect">-->
<!--                                        <i class="ti-home"></i><span>Trainer</span>-->
<!--                                    </a>-->
<!--                                </li>-->
                            {% endif %}

                            {% if request.user.role == 'Admin'%}
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-view-grid"></i><span> Event Category <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                    <ul class="submenu">
                                        <li><a href="{% url 'event-category' %}">Category</a></li>
                                        <li><a href="{% url 'event-sub-category' %}">Sub Category</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if request.user.role == 'Admin' or request.user.role == 'Org'%}
                                <li>
                                    <a href="{% url 'banner' %}" class="waves-effect">
                                        <i class="ti-home"></i><span> Org Banner</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if request.user.role == 'Admin' or request.user.role == 'Org'%}
                                <li>
                                    <a href="{% url 'video' %}" class="waves-effect">
                                        <i class="ti-home"></i><span> Events Video</span>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->

                <footer class="footer">
                    © 2020 Sys diaries ltd. <span class="d-none d-sm-inline-block"> - Crafted with Sys diaries ltd.</span>.
                </footer>

            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->



        <!-- jQuery  -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>

        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/js/waves.min.js' %}"></script>

        <!-- Required datatable js -->
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
        <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>
        <!-- Responsive examples -->
        <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'assets/pages/datatables.init.js' %}"></script>

        <!--Chartist Chart-->
        <script src="{% static 'plugins/chartist/js/chartist.min.js' %}"></script>
        <script src="{% static 'plugins/chartist/js/chartist-plugin-tooltip.min.js' %}"></script>

        <!-- peity JS -->
        <script src="{% static 'plugins/peity-chart/jquery.peity.min.js' %}"></script>

        <!-- form wizard -->
        <script src="{% static 'plugins/jquery-steps/jquery.steps.min.js' %}"></script>

        <script src="{% static 'assets/pages/dashboard.js' %}"></script>
        <script src="{% static 'https://cdn.quilljs.com/1.3.6/quill.js' %}"></script>

        <!-- Sweet-Alert  -->
        <script src="{% static 'plugins/sweet-alert2/sweetalert2.min.js' %}"></script>
        <script src="{% static 'assets/pages/sweet-alert.init.js' %}"></script>

         App js
        <script src="{% static 'assets/js/app.js' %}"></script>

    <script>
        $(document).ready( function () {
            $('#event_table').DataTable();
        } );

        $(function ()
        {
            $("#form-horizontal").steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slide"
            });
        });
    </script>


<script type="text/javascript">

   function get_sub_category() {
    var category = document.getElementById("category");
    var categoryValue = category.options[category.selectedIndex].value;
    console.log(categoryValue);

    $.ajax({
        url: "http://127.0.0.1:8000/event/get-sub-cat/"+categoryValue,
        type: 'get',
        success: function(data) {
            var x = document.getElementById("sub_category");
            x.remove(x.selectedIndex);
            $("#sub_category").empty();
            data.forEach(function (item) {
            var text = item.name;
            var value = item.id;
            console.log(text, value);
            $("#sub_category").append(new Option(text, value));
            });
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });
       }

  </script>
        <script>
            CKEDITOR.replace( 'event_details' );
		</script>
    <script>
            CKEDITOR.replace( 'education' );
    </script>
    <script>
            CKEDITOR.replace( 'experience' );
    </script>
    </body>

</html>