{% extends 'org-admin/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'create-event-type' %}" class="btn btn-primary" style="margin-bottom:10px">Create Event Type</a>
                    <table id="event_table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <td>SL</td>
                            <th>Name</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in context %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }} </td>
                                <td>{{ item.created_at }} </td>
                                <td>{{ item.updated_at }} </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}

