{% extends 'org-admin/base.html' %}

{% block content %}
</br>
                        <div class="row">
                            {% if request.user.role == 'Admin' %}
                                <div class="col-xl-3 col-md-6">
                                    <div class="card mini-stat bg-primary text-white">
                                        <div class="card-body">
                                            <div class="mb-4">
                                                <div class="float-left mini-stat-img mr-4">
                                                    <img src="assets/images/services-icon/01.png" alt="" >
                                                </div>
                                                <h5 class="font-14 text-uppercase mt-0 text-white-50">Organization</h5>
                                                <h4 class="font-500">Total: {{context.total_org}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Trainer</h5>
                                            <h4 class="font-500">Total: {{context.total_org}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.role == 'Admin' %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Member</h5>
                                            <h4 class="font-500">Total: {{context.total_member}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if request.user.role == 'Org' %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Member</h5>
                                            <h4 class="font-500">Total: {{context.total_member}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Event</h5>
                                            <h4 class="font-500">Total: {{context.total_event}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.role == 'Org' %}
                                <div class="col-xl-3 col-md-6">
                                    <div class="card mini-stat bg-primary text-white">
                                        <div class="card-body">
                                            <div class="mb-4">
                                                <div class="float-left mini-stat-img mr-4">
                                                    <img src="assets/images/services-icon/01.png" alt="" >
                                                </div>
                                                <h5 class="font-14 text-uppercase mt-0 text-white-50">Branch/Venue</h5>
                                                <h4 class="font-500">Total: {{context.total_branch}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="row">
                            {% if request.user.role == 'Admin' %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Category</h5>
                                            <h4 class="font-500">Total: {{context.total_category}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Sub Category</h5>
                                            <h4 class="font-500">Total: {{context.total_subcategory}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Type</h5>
                                            <h4 class="font-500">Total: {{context.total_type}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if request.user.role == 'Org' %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Video</h5>
                                            <h4 class="font-500">Total: {{context.total_video}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endif %}


                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Pending Event</h5>
                                            <h4 class="font-500">Total: {{context.confirm_event_pending}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="card mini-stat bg-primary text-white">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="float-left mini-stat-img mr-4">
                                                <img src="assets/images/services-icon/01.png" alt="" >
                                            </div>
                                            <h5 class="font-14 text-uppercase mt-0 text-white-50">Approve Event</h5>
                                            <h4 class="font-500">Total: {{context.confirm_event_approved}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                        <div class="row">

                        </div>
                        <!-- end row -->


{% endblock %}

