{% extends 'org-admin/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'create-slider' %}" class="btn btn-primary" style="margin-bottom:10px">Upload New Slider</a>
                    <table id="event_table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <td>SL</td>
                            <th>Name</th>
                            <th>Img</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in context %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }} </td>
                                <td><img width="100px" height="70px" src="{{ BASE_URL }}/{{ item.img }}" /> </td>
                                <td>{{ item.created_at }} </td>
                                <td>{{ item.updated_at }} </td>
                                <td>{{ item.status }} </td>
                                <td> <a style="margin-right: 30px;" href="{% url 'update-slider' item.id %}"><i class="fas fa-edit"></i></a>
                                    <a onclick="return confirm('Are you sure you want to delete this item?');" href="{% url 'delete-slider' item.id %}"><i class="fas fa-trash"></i></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}

