{% extends 'org-admin/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if request.user.role == 'Org' %}
                        <a href="{% url 'create-org-trainer' %}" class="btn btn-primary" style="margin-bottom:10px">Create Trainer</a>
                    {% endif %}
                    <table id="event_table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <td>SL</td>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Photo</th>
                            <th>Status</th>
                            {% if request.user.role == 'Admin' %}
                                <th>Owner</th>
                            {% endif %}
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in context.trainer %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }} </td>
                                <td>{{ item.email }} </td>
                                <td><img width="100px" height="70px" src="{{ BASE_URL }}/{{ item.img }}" /> </td>
                                <td>{{ item.status }} </td>
                                {% if request.user.role == 'Admin' %}
                                    <th>{{ item.user }}</th>
                                {% endif %}
                                <td> <a style="margin-right: 30px;" href="{% url 'update-org-trainer' item.id %}"><i class="fas fa-edit"></i></a>
                                    <a onclick="return confirm('Are you sure you want to delete this item?');" href="{% url 'delete-org-trainer' item.id %}"><i class="fas fa-trash"></i></i></a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}

