{% extends 'org-admin/base.html' %}

{% block content %}

    <div class="page-title-box">
        <div class="row align-items-center">

            <div class="col-sm-6">
                <h4 class="page-title">Update Event</h4>
            </div>

            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-settings mr-2"></i> Settings
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'update-event' context.id %}" id="form-horizontal" enctype="multipart/form-data" class="form-horizontal form-wizard-wrapper">
                        {% csrf_token %}
                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="title" class="col-lg-3 col-form-label">Title</label>
                                        <div class="col-lg-9">
                                            <input id="title" name="title" type="text" value="{{context.title }}" class="form-control">
                                            <p>{{error_message.title_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="branch_venue" class="col-lg-3 col-form-label">Branch Venue</label>
                                        <div class="col-lg-9">
                                            <select selected="selected" id="branch_venue" name="branch_venue" class="form-control">
                                                <option value="0">-- Select Branch or Venue --</option>
                                                {% for item in branch_venue_context %}
                                                    <option value="{{item.id}}">{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <p>{{error_message.branch_venue_error}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>


                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="type" class="col-lg-3 col-form-label">Type</label>
                                        <div class="col-lg-9">
                                             <select id="type" name="type" class="form-control">
                                                 <option value="0">-- Select Type --</option>
                                                {% for item in type_context %}
                                                    <option value="{{item.id}}">{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <p>{{error_message.type_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="status" class="col-lg-3 col-form-label">Status</label>
                                        <div class="col-lg-9">
                                            <select id="status" name="status" class="form-control">
                                                <option value="0">-- Select Status --</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                            <p>{{error_message.status_error}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>


                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="category" class="col-lg-3 col-form-label">Category</label>
                                        <div class="col-lg-9">
                                            <select onchange="get_sub_category();" id="category" name="category" class="form-control">
                                                <option value="0">-- Select Category --</option>
                                                {% for item in category_context %}
                                                    <option value="{{item.id}}">{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <p>{{error_message.category_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="sub_category" class="col-lg-3 col-form-label">Sub Category</label>
                                        <div class="col-lg-9">
                                            <select id="sub_category" name="sub_category" class="form-control">
                                                <option value="0">-- Select Sub Category --</option>
                                                <option value="{{ context.sub_category.id}}">{{ context.sub_category.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>


                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="popular_topics" class="col-lg-3 col-form-label"><del>popular Topics</del></label>
                                        <div class="col-lg-9">
                                            <select id="popular_topics" name="popular_topics" class="form-control" disabled>
                                                <option value="0">-- Select Popular Topics --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="trainer" class="col-lg-3 col-form-label">Trainer</label>
                                        <div class="col-lg-9">
                                            <select id="trainer" name="trainer" class="form-control">
                                                <option value="0">-- Select Trainer --</option>
                                                {% for item in trainer_context %}
                                                    <option value="{{item.id}}">{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <p>{{error_message.trainer_error}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>


                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="starting_date" class="col-lg-3 col-form-label">Starting Date</label>
                                        <div class="col-lg-9">
                                            <input id="starting_date" name="starting_date" type="date" value='{{context.starting_date|date:"Y-m-d"}}' class="form-control">
                                            <p>{{error_message.starting_date_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="last_registration_date" class="col-lg-3 col-form-label">Last Registration Date</label>
                                        <div class="col-lg-9">
                                            <input id="last_registration_date" name="last_registration_date" value='{{context.last_registration_date|date:"Y-m-d"}}' type="date" class="form-control">
                                            <p>{{error_message.last_registration_date_error}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>


                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="duration" class="col-lg-3 col-form-label">Duration</label>
                                        <div class="col-lg-9">
                                            <input id="duration" name="duration" type="text" value="{{context.duration}}" class="form-control">
                                            <p>{{error_message.duration_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="session_per_week" class="col-lg-3 col-form-label">Session Per Week</label>
                                        <div class="col-lg-9">
                                            <input id="session_per_week" name="session_per_week" type="text" value="{{context.session_per_week}}" class="form-control">
                                            <p>{{error_message.session_per_week_error}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="session_start_time" class="col-lg-3 col-form-label">Session Start Time</label>
                                        <div class="col-lg-9">
                                            <input id="session_start_time" name="session_start_time" type="time" value="{{context.session_start_time}}" class="form-control">
                                            <p>{{error_message.session_start_time_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="session_end_time" class="col-lg-3 col-form-label">Session End Time</label>
                                        <div class="col-lg-9">
                                            <input id="session_end_time" name="session_end_time" type="time" value="{{context.session_end_time}}" class="form-control">
                                            <p>{{error_message.session_end_time_error}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>


                                                <fieldset>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="file" class="col-lg-3 col-form-label">Current Thumbnail</label>
                                        <div class="col-lg-9">
                                            <img src="{{BASE_URL}}/{{context.thumbnail}}" width="100px" height="100px"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>


                        <fieldset>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
<!--                                        <img src="{{BASE_URL}}/{{context.thumbnail}}" width="100px" height="100px"/>-->
                                        <label for="file" class="col-lg-3 col-form-label">Thumbnail</label>
                                        <div class="col-lg-9">
                                            <input id="file" name="file" type="file" class="form-control">
                                            <p>{{error_message.img_error}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="amount" class="col-lg-3 col-form-label">Amount</label>
                                        <div class="col-lg-9">
                                            <input id="amount" name="amount" type="number" value="{{context.amount}}" class="form-control">
                                            <p>{{error_message.amount_error}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>


                        <fieldset>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="discount" class="col-lg-3 col-form-label">Discount</label>
                                        <div class="col-lg-9">
                                            <input id="discount" name="discount" type="number" value="{{context.discount}}" class="form-control">
                                            <p>{{error_message.discount_error}}</p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </fieldset>




                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="event_details" class="col-lg-1 col-form-label">Details</label>
                                        <div class="col-lg-11">
                                            <textarea id="event_details" name="event_details">{{context.content}} {{context.event_details}}</textarea>
                                            <p>{{error_message.event_details_error}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        {% if request.user.role == 'Admin' %}
                            <fieldset>

                                <div class="row">
                                   <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Featured</label>
                                            <div class="col-lg-1">
                                                {% if context.featured %}
                                                    <input checked class="form-control" type="checkbox" name="featured">
                                                {% else %}
                                                    <input class="form-control" type="checkbox" name="featured">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Top Rated</label>
                                            <div class="col-lg-1">
                                                {% if context.top_rated %}
                                                    <input checked class="form-control" type="checkbox" name="top_rated">
                                                {% else %}
                                                    <input class="form-control" type="checkbox" name="top_rated">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Most Popular</label>
                                            <div class="col-lg-1">
                                                {% if context.most_popular %}
                                                    <input checked class="form-control" type="checkbox" name="most_popular">
                                                {% else %}
                                                    <input class="form-control" type="checkbox" name="most_popular">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Best Seller</label>
                                            <div class="col-lg-1">
                                                {% if context.best_sell %}
                                                    <input checked class="form-control" type="checkbox" name="best_sell">
                                                {% else %}
                                                    <input class="form-control" type="checkbox" name="best_sell">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>

                        {% endif %}



                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right m-t-15">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>
<!-- container-fluid -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
    $('select[name="branch_venue"]').find('option[value="{{context.branch_venue.id}}"]').attr("selected",true);
    $('select[name="type"]').find('option[value="{{context.type.id}}"]').attr("selected",true);
    $('select[name="status"]').find('option[value="{{context.status}}"]').attr("selected",true);
    $('select[name="category"]').find('option[value="{{context.category.id}}"]').attr("selected",true);
    $('select[name="sub_category"]').find('option[value="{{context.sub_category.id}}"]').attr("selected",true);
    $('select[name="trainer"]').find('option[value="{{context.trainer.id}}"]').attr("selected",true);

 </script>
{% endblock %}

