<div id="owl-slider-left" class="owl-carousel">
    {% for event in context.event %}
        {% if event.featured %}
            <div class="slider-left-carousel">
                <div class="slider-left-product">
                    <a href="#"><img style="height:295px;" src="{{context.BASE_URL}}/{{event.thumbnail}}" alt="product"></a>
                    {% if request.user.is_authenticated %}
                        {% if request.user.role == 'Member' %}
                            <div class="slider-product-button">
                                <p class="add-chart"><a onclick="add_to_cart('{{event.id}}')" href="#">Add To Cart</a></p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <p class="view-details"><a href="{% url 'event-details' event.id %}">View details</a></p>
            </div>
        {% endif %}
    {% endfor %}
</div>